# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# API keys
*.key

# Build output
dist/
build/

# IDE specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

package-lock.json